<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      <img src="assets/images/logo.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="playSlideshow()">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngIf="!photoService.photoTaken" button (click)="takePhoto()">
      <img src="assets/images/smile.png" />
    </ion-item>

    <ion-item-sliding *ngFor="let photo of photoService.photos">
      <ion-item>
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(photo.path)" />
        <ion-badge slot="end" color="light">{{ photo.dateTaken | daysAgo }} days ago</ion-badge>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deletePhoto(photo)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
