<h1>Calculator</h1>
<hr>
<ion-input 
    type="number" 
    [(ngModel)]="calculatorService.n1"
    clear-input="true"></ion-input>

<ion-input 
    type="number" 
    [(ngModel)]="calculatorService.n2"
    clear-input="true"
></ion-input>

<ion-button (click)="calculatorService.add()"> + </ion-button>
<ion-button (click)="calculatorService.subtract()"> - </ion-button>
<ion-button (click)="calculatorService.divide()"> X </ion-button>
<ion-button (click)="calculatorService.multiply()"> / </ion-button>
<app-calculator-result [result]="calculatorService.result"> </app-calculator-result>