<h1>Calculator</h1>
<hr>
<ion-input 
    type="number" 
    [(ngModel)]="calculatorService.n1"
    clear-input="true"></ion-input>

<ion-input 
    type="number" 
    [(ngModel)]="calculatorService.n2"
    clear-input="true"
></ion-input>

<ion-button (click)="calculatorService.add()"> + </ion-button>
<ion-button (click)="calculatorService.subtract()"> - </ion-button>
<ion-button (click)="calculatorService.divide()"> X </ion-button>
<ion-button (click)="calculatorService.multiply()"> / </ion-button>
<div class="resultContainer">
    <p 
        [ngClass]="{positive : calculatorService.result >= 0, negative : calculatorService.result < 0}"
        *ngIf="calculatorService.result !== 0 else noResult"
    >
        {{calculatorService.result | currency:'INR'}}
    </p>
    <ng-template #noResult>No Result!!</ng-template>
</div>